*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.navbar{
    background:#212528;
    color: #fff;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
}
.cart-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: sans-serif;
    background: #f9f9f9;
  }
  
  .cart-container h1 {
    margin-bottom: 20px;
  }
  
  .cart-container div {
    margin: 10px 0;
  }
  
  .cart-container button {
    padding: 10px;
    margin-top: 20px;
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
  }
  
.cart{
    position: relative;
    background: #fff;
    color: #212528;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}
.cart:hover{
    background: #212528;
    color: #fff;
    cursor: pointer;
}


.cartamount{
position: absolute;
font-size: 16px;
background-color: red;
color: #fff;
top: -15px;
right: -10px;
}
.shop {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
  }
  
@media (max-width: 1000px) {
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }
  .item {
    border: 2px solid #212529;
    border-radius: 4px;
  }

  
  .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
  .price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
  }
  
  .bi-dash-lg {
    color: red;
  }
  
  .bi-plus-lg {
    color: green;
  }
  